form {
    margin-top: 30px;
    transition: all 4% ease-in-out;
    margin-left: 25%;

}

.contact-form .form-control {
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: #1ab198;
    font-size: 18px;
    margin-bottom: 50px;

}

input {
    height: 45px;
}

.contact-form .submit {
    background: #303030;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    height:50px;
    letter-spacing: 2px;
    margin-top: 20px;
    text-align: center;
}

.contact-form .submit:hover {
    background-color: #1ab198;
    cursor: pointer;
}
